body {
    font-size: 60%
}

table {
    font-size: 100%
}

.ui-tabs, .ui-tabs-panel {
    padding: 0.5em
}

.ui-icon-triangle-1-e { background-position: -32px -18px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -66px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -66px; }

.tytable .ui-icon {
    height: 10px;
    display: inline-block
}

